.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

#search-container{
  max-width: 400px;
  margin:auto;
}

#search-container input{
  font-family: typeWriter;
}

#search-bar{
  margin-top: 20px;
  margin-bottom: 20px;
}
